<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SDKServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://qbus.aaltra.eu/sdkservice.asmx" binding="basicHttpBinding" bindingConfiguration="SDKServiceSoap" contract="SDK.SDKServiceSoap" name="SDKServiceSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
